mat-form-field {
  width: 100%;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.spinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spinner-icon {
  margin-top: -20px;
}
.error-email {
  text-align: center;
  color: red;
  font-weight: 500;
}
