<mat-toolbar class="header-toolbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Angular 13 CRUD utilizando Material UI</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="mat-dialog-content" id="container">
  <form [formGroup]="userForm">
    <h1>Cadastro</h1>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" formControlName="name" />
    </mat-form-field>
    <div
      *ngIf="
        userForm.controls['name'].invalid &&
        (userForm.controls['name'].dirty || userForm.controls['name'].touched)
      "
      class="alert"
    >
      <div
        class="error-email"
        *ngIf="userForm.controls['name'].errors?.['required']"
      >
        Por favor selecione um nome.
      </div>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        placeholder="Email"
        type="email"
        formControlName="email"
        [pattern]="emailPattern"
      />
    </mat-form-field>
    <div
      *ngIf="
        userForm.controls['email'].invalid &&
        (userForm.controls['email'].dirty || userForm.controls['email'].touched)
      "
      class="alert"
    >
      <div
        class="error-email"
        *ngIf="userForm.controls['email'].errors?.['required']"
      >
        Por favor selecione um e-mail.
      </div>
      <div
        class="error-email"
        *ngIf="userForm.controls['email'].errors?.['pattern']"
      >
        Por favor selecione um e-mail válido.
      </div>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input
        matInput
        placeholder="Senha"
        [type]="changeType ? 'password' : 'text'"
        formControlName="password"
      />
      <!-- <mat-icon
        id="eye-icon-first"
        (click)="viewpassword()"
        style="font-size: 23px; color: #3f51b5"
        >remove_red_eye</mat-icon
      > -->
      <span
        id="eye-icon-first"
        (click)="viewpassword()"
        *ngIf="isPasswordVisible"
        ><i
          style="font-size: 19px; color: #3f51b5; cursor: pointer"
          class="fa fa-eye"
          [ngClass]="'fa fa-eye-slash'"
          aria-hidden="true"
        ></i
      ></span>
      <span
        id="eye-icon-first"
        (click)="viewpassword()"
        *ngIf="!isPasswordVisible"
        ><i
          style="font-size: 19px; color: #3f51b5; cursor: pointer"
          class="fa fa-eye"
          [ngClass]="'fa fa-eye'"
          aria-hidden="true"
        ></i
      ></span>
    </mat-form-field>
    <div
      *ngIf="
        userForm.controls['password'].invalid &&
        (userForm.controls['password'].dirty ||
          userForm.controls['password'].touched)
      "
      class="alert"
    >
      <div
        class="error-email"
        *ngIf="userForm.controls['password'].errors?.['required']"
      >
        Por favor selecione uma senha.
      </div>
      <div
        class="error-email"
        *ngIf="userForm.controls['email'].errors?.['pattern']"
      >
        Por favor selecione um e-mail válido.
      </div>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Confirmar Senha</mat-label>
      <input
        matInput
        placeholder="ConfirmarSenha"
        [type]="changeTypeConfirmPassword ? 'password' : 'text'"
        formControlName="passwordConfirm"
      />
      <!-- <mat-icon id="eye-icon-second" style="font-size: 23px; color: #3f51b5"
        >remove_red_eye</mat-icon
      > -->
      <span
        id="eye-icon-second"
        (click)="viewpasswordConfirm()"
        *ngIf="isPasswordConfirmVisible"
        ><i
          style="font-size: 19px; color: #3f51b5; cursor: pointer"
          class="fa fa-eye"
          [ngClass]="'fa fa-eye-slash'"
          aria-hidden="true"
        ></i
      ></span>
      <span
        id="eye-icon-second"
        (click)="viewpasswordConfirm()"
        *ngIf="!isPasswordConfirmVisible"
        ><i
          style="font-size: 19px; color: #3f51b5; cursor: pointer"
          class="fa fa-eye"
          [ngClass]="'fa fa-eye'"
          aria-hidden="true"
        ></i
      ></span>
    </mat-form-field>
    <div
      *ngIf="
        userForm.controls['passwordConfirm'].invalid &&
        (userForm.controls['passwordConfirm'].dirty ||
          userForm.controls['passwordConfirm'].touched)
      "
      class="alert"
    >
      <div
        class="error-email"
        *ngIf="userForm.controls['passwordConfirm'].errors?.['required']"
      >
        Por favor selecione uma senha.
      </div>
    </div>
    <button
      (click)="RegisterUser()"
      mat-raised-button
      color="primary"
      id="btn-cadastro"
    >
      <!-- Salvar -->
      <span class="span-btn" *ngIf="!isLoading">Confirmar</span>
      <span class="span-btn" *ngIf="isLoading"
        >Confirmar<mat-spinner [diameter]="20"></mat-spinner
      ></span>
    </button>
    <span id="link-btn">
      <a [routerLink]="'login'">já possui cadastro?</a>
    </span>
  </form>
</div>
